<header>
  <div id="logo_guia">
    <%= wicked_pdf_image_tag('logopassaport2.png') %> 
  </div>
  <div id="title_guia">
    <h2>Autorização para Desconto (1/1)</h2>
  </div>
</header>
<main>
  <p class="value">
    <span class="underline"><strong>R$ 45,00</strong></span>
  </p>

  <table class="table_guia">
    <tr>
      <th colspan="3">Paciente: ANDRE LUIZ DOS SANTOS</th>
      <th colspan="2">Médico(a): EXAMES</th>
    </tr>
    <tr>
      <td colspan="2">Data: 07/01/2019</td>
      <td>Horário: 10:00</td>
      <th colspan="2">Especialidade:</th>
    </tr>
  </table><br>

  <div>Autorizo a empresa acima a descontar em minha folha de pagamento os valores acima mencionados em favor da Passaporte Saúde, pois é minha co-participação em consultas e exames realizados por mim e/ou meus dependentes.</div>
  <div class="date"> Campo Grande, sexta, 04 de janeiro de 2019 </div> 

  <div id="container_guide">
    <div class="row triple">
      <div class="column-3 left">Assinatura do Titular ou Dependente</div>
      <div class="column-3 right">Ass. do Responsável <br>PASSAPORTE SAÚDE</div>
    </div>
  </div>
</main>
