<header>
  <div id="logo_guia">
    <%= wicked_pdf_image_tag('logopassaport2.png') %> 
  </div>
  <div id="title_guia">
    <h1>Guia de Atendimento Médico</h1>
  </div>
</header>
<main>
  <div class="to_company"><strong>Para LIFECOR - Fone: 3201-3035</strong></div>
  <div class="address_company"><strong>RUA HELIO YOSHIAKI IKEZIRI, 34 - ED EVIDENCE - S 901</strong></div>
  <div class="date">Campo Grande, sexta, 04 de janeiro de 2019</div>

  <div>Prezados Senhores,<br>
  A PASSAPORTE SAÚDE autoriza o paciente abaixo descrito a realizar os seguintes procedimentos médicos, sem nenhum custo ao mesmo:</div>

  <table class="table_guia">
    <tr>
      <th colspan="3">Paciente: ANDRE LUIZ DOS SANTOS</th>
      <th colspan="2">Médico(a): EXAMES</th>
    </tr>
    <tr>
      <td colspan="2">Data: 07/01/2019</td>
      <td>Horário: 10:00</td>
      <th colspan="2">Especialidade:</th>
    </tr>
  </table><br>

  <p><strong>Exames Solicitados:</strong></p>
  <div> -TESTE ERGOMETRICO</div>

  <div id="container_guide">
    <div class="row triple">
      <div class="column-3 left">ANDRE LUIZ DOS SANTOS</div>
      <div class="column-3 center">RG</div>
      <div class="column-3 right">PASSAPORTE SAÚDE</div>
    </div>

    <div class="single_row">É imprescindível apresentação de documento pessoal com foto e pedido médico em caso de exame. Menores de idade devem apresentar certidão de nascimento e estar acompanhado de responsável. O prazo máximo para retorno é de 15 dias corridos.
      Passaporte Saúde Central de Agendamento - Campo Grande MS - Fone: 3342-5035</div>
    </div>
  </div>
</main>
